.expensesList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.newExpenseForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.editButtons {
  margin-left: 3px !important;
  margin-right: 3px !important;
  width: 30% !important;
}

.editButtonsMobile {
  width: 100% !important;
  height: 100%;
  margin-bottom: 10px !important;
}

.buttonColor {
  background-color: rgb(152, 30, 168) !important;
}

.transparent {
  background: rgba(251, 251, 251, 0.496) !important ;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.hide {
  overflow-x: hidden !important;
}

.editBtnContainer {
  width: 100% !important;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.btnMdWidth {
  width: 10vw;
}

.mediumWidth {
  width: 20vw;
}

.mobileWidth {
  width: 90vw;
}

.margin {
  margin: 0 10px 10px;
}

.mobileWidthPercent {
  width: 90%;
}

.fullContainerWidth {
  width: 100%;
}
.tableRowSmall {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableRow {
  display: table-row;
}
