.expensesList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.newExpenseForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.editButtons.MuiButton-root {
  margin-left: 3px;
  margin-right: 3px;
  width: 30%;
}

.editButtonsMobile.MuiButton-root {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.transparent {
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.expenseFormInputColor {
  background: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.tableHead {
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.tableHeadCells.MuiTableCell-root {
  color: black;
  font-weight: bold;
}

.hide.MuiTableContainer-root {
  overflow-x: hidden;
}

.hide.MuiTablePagination-root {
  overflow-x: hidden;
}

.editBtnContainer {
  width: 100%;
}

.marginBottom10.MuiButton-root {
  margin-bottom: 10px;
}

.marginBottom10.MuiTextField-root {
  margin-bottom: 10px;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.btnMdWidth {
  width: 10vw;
}

.mediumWidth {
  width: 20vw;
}

.mobileWidth {
  width: 90vw;
}

.margin {
  margin: 0 10px 10px;
}

.mobileWidthPercent {
  width: 90%;
}

.fullContainerWidth {
  width: 100%;
}

.flexForMobile.MuiTableRow-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexForMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tableRow {
  display: table-row;
}

.MuiFormLabel-root.MuiInputLabel-root {
  color: black;
}
