.App {
  text-align: center;
}

.paper {
  margin: 10px;
}

.glass.MuiPaper-root {
  background: rgba(250, 250, 250, 0.538);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.paddingBtm {
  padding-bottom: 3px;
}

.marginLR {
  padding-left: 15px;
  padding-right: 15px;
}
